.module__control {
  display: flex;
  height: 100%;
  min-height: 48px;
}
.module__control .data-selectors {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 4px;
}
.module__control .data-selectors .group-selector,
.module__control .data-selectors .term-selector {
  display: flex;
}
.module__control .data-selectors .group-selector .selector-label,
.module__control .data-selectors .term-selector .selector-label {
  font-size: 12px;
  margin-right: 4px;
  width: 28px;
}
.module__control .data-selectors .group-selector button,
.module__control .data-selectors .term-selector button {
  width: 44px;
  box-sizing: content-box;
  margin: 0 2px;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
}
.module__control .data-selectors .group-selector button:active,
.module__control .data-selectors .term-selector button:active {
  background: rgba(0, 0, 0, 0.2);
}
.module__control .data-selectors .group-selector button:focus,
.module__control .data-selectors .term-selector button:focus {
  outline: none;
}
.module__control .data-selectors .group-selector button.active,
.module__control .data-selectors .term-selector button.active {
  border: 1px solid #d35400;
  background-color: #edbb99;
  border-radius: 3px;
}
.module__control .metric-selector {
  display: flex;
}
.module__control .metric-selector .selector-label {
  font-size: 12px;
  margin-right: 4px;
  margin-top: 4px;
}
.module__control .metric-selector .button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.module__control .metric-selector .button-container .button-row button {
  box-sizing: content-box;
  margin: 0 2px;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
}
.module__control .metric-selector .button-container .button-row button:active {
  background: rgba(0, 0, 0, 0.2);
}
.module__control .metric-selector .button-container .button-row button:focus {
  outline: none;
}
.module__control .metric-selector .button-container .button-row button.active {
  border: 1px solid #d35400;
  background-color: #edbb99;
  border-radius: 3px;
}
@media (max-width: 480px) {
  .module__control {
    max-width: 100%;
    width: auto;
    display: inline;
  }
  .module__control .data-selectors,
  .module__control .metric-selector {
    height: 48px;
  }
  .module__control .data-selectors .selector-label,
  .module__control .metric-selector .selector-label {
    width: 46px;
  }
  .module__control .data-selectors button,
  .module__control .metric-selector button {
    width: 52px;
  }
  .module__control .data-selectors .group-selector .selector-label,
  .module__control .metric-selector .group-selector .selector-label,
  .module__control .data-selectors .term-selector .selector-label,
  .module__control .metric-selector .term-selector .selector-label {
    width: 46px;
  }
  .module__control .data-selectors .group-selector button,
  .module__control .metric-selector .group-selector button,
  .module__control .data-selectors .term-selector button,
  .module__control .metric-selector .term-selector button {
    width: 52px;
  }
}
