.module {
  background-color: #fff;
  border-radius: 24px;
  padding: 12px;
  margin: 12px 12px 0;
  margin-right: 0;
  display: inline-block;
  border: 0px solid #575A71;
}

@media (max-width: 600px) {
  .module {
    width: calc(100% - 12px);
  }
}
.module.inactive {
  display: none;
}
.module.user_info {
  border-radius: 0 24px 24px 24px;
}
.module.login {
  border-radius: 0 24px 24px 24px;
}
